<html>
<head>
<style>
.bodycenter {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.footer{
    text-align: center;
    border: 1px solid #73AD21;
}
.error{
  color:red;
}
</style>
</head>
<body>
  <div class="bodycenter">
    <h1>Movies Database Assignment 4</h1>
 
    <h3>Insert/Update Movie</h3>
    <form action="add_to_db" method="post">
      Release Year: <input type="number" name="year"><br>
      Movie Title: <input type="text" name="title"><br>
      Director: <input type="text" name="director"><br>
      Actor: <input type="text" name="actor"><br>
      Release Date: <input type="text" name="date"><br>
      Rating: <input type="number" name="rating"><br>
      <input type="submit" value="Add/Update Movie">
    </form> 
    {{ addStatus }}
    <hr />

    <h3>Delete Movie</h3>
    <form action="delete_from_db" method= "post">
      Movie Title: <input type="text" name="title"><br>
      <input type="submit" value="Delete Movie">
    </form> 
    {{ deleteStatus }}
    <hr />

    <h3>Search Movie</h3>
    <form action="search_from_db" method= "get">
      Actor: <input type="text" name="actor"><br>
      <input type="submit" value="Search Movies">
    </form> 
    {{ searchError }}
    {% for entry in searchResults %}
        <div>
            <div>{{ entry[0], entry[1], entry[2] }}</div>
        </div>
    {% endfor %}
    <hr />

    <h3>Print Movies</h3>
    <form action="search_from_highest" method= "get">
      <input type="submit" value="Highest Rated Movies">
    </form> 
    <form action="search_from_lowest" method= "get">
      <input type="submit" value="Lowest Rated Movies">
    </form> 
    {{ ratingError }}
    {% for entry in ratingResults  %}
        <div>
            <div>{{ entry[0], entry[1], entry[2], entry[3], entry[4] }}</div>
        </div>
    {% endfor %}
    
    <div class="footer">
    </div>
  </div>
</body>
</html>
